.bubbles {
  position: relative;
  height: auto;
  background: #F6F6F6;
  overflow: hidden;
  min-height: 100vh;
}

.bubblesIconWrap {
  position: relative;
}

.bubblesIcon {
  margin-top: 140px;
  transform-origin: bottom;
  overflow: visible;
  width: 100%;
  position: relative;
  z-index: 9;
  mix-blend-mode: difference;  
}

.bubblesBg {
  position: absolute;
  bottom: -10px;
  left: -58px;
  display: block;
  width: 100vw;
  height: 50%;
  // z-index: 1;
  background: #141414;
}
