.premiumIcons {
  padding: 504px 0;

  @media screen and (max-width: 1440px) {
    padding: 312px 0;
  }
  
  @media screen and (max-width: 1024px) {
    padding: 200px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 160px 0;
  }

  @media screen and (max-width: 375px) {
    padding: 144px 0;
  }
}

.sliderWrap {
  height: 100vh;
  overflow-x: hidden;
}

.slider {
  &:-webkit-scrollbar {
    display: none;
  }
}

/*

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 375px) {}

*/