.statistics {
  background: #054D5C;
  padding: 152px 0;

  @media screen and (max-width: 1440px) {
    padding: 120px 0;
  }
  
  @media screen and (max-width: 1024px) {
    padding: 64px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 56px 0;
  }

  @media screen and (max-width: 375px) {
    padding: 64px 0;
  }
}

.statisticsBlockWrap {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 1440px) {}
  
  @media screen and (max-width: 1024px) {}

  @media screen and (max-width: 768px) {}

  @media screen and (max-width: 375px) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.statisticsBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 72px 122px 106px 40px;
  border: 1px solid #f6f6f6;

  @media screen and (max-width: 1440px) {
    padding: 40px 32px 72px;
  }
  
  @media screen and (max-width: 1024px) {
    padding: 32px 24px 64px;
  }

  @media screen and (max-width: 768px) {
    padding: 24px 16px 40px;
  }

  @media screen and (max-width: 375px) {
    width: 100%;
  }
}

.blockTitle {
  font-weight: 300;
  font-size: 4.5vw;
  line-height: 5.42vw;
  padding-bottom: 46px;

  @media screen and (max-width: 1440px) {
    font-size: 5vw;
    line-height: 6vw;
    padding-bottom: 40px;
  }
  
  @media screen and (max-width: 1024px) {
    font-size: 4.7vw;
    line-height: 5.6vw;
    padding-bottom: 35px;
  }

  @media screen and (max-width: 768px) {
    font-size: 4.2vw;
    line-height: 4.5vw;
    padding-bottom: 28px;
  }

  @media screen and (max-width: 375px) {
    font-size: 32px;
    line-height: 38px;
  }
}

.blockDescription {
  font-size: 1.3vw;
  line-height: 1.5vw;

  @media screen and (max-width: 1440px) {
    font-size: 1.4vw;
    line-height: 1.7vw;
  }
  
  @media screen and (max-width: 1024px) {
    font-size: 2vw;
    line-height: 2.4vw;
  }

  @media screen and (max-width: 768px) {
    font-size: 2.1vw;
    line-height: 2.6vw;
  }

  @media screen and (max-width: 375px) {
    font-size: 16px;
    line-height: 19px;
  }
}


/* 

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 375px) {}

*/