.description {
  display: block;
  font-weight: 300;
  font-size: 3vw;
  line-height: 3.6vw;
  max-width: 892px;
  
  @media screen and (max-width: 1440px) {
    font-size: 40px;
    line-height: 47px;
    max-width: 714px;
  }
  
  @media screen and (max-width: 1024px) {
    max-width: 606px;
  }

  @media screen and (max-width: 768px) {
    font-size: 4.17vw;
    line-height: 4.95vw;
    max-width: 469px;
  }

  @media screen and (max-width: 375px) {
    font-size: 26px;
    line-height: 31px;
    max-width: 326px;
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}