body {
  --color-white: #F6F6F6;
  --color-black: #282728;
}

$color-white: #F6F6F6;
$color-black: #282728;

// // ** BREAKPOINTS **
// $layout-xxxxl-breakpoint: 1921px
// $layout-xxxl-breakpoint: 1900px
// $layout-xxl-breakpoint: 1600px
// $layout-xl-breakpoint: 1440px
// $layout-lg-breakpoint: 1367px
// $layout-md-breakpoint: 992px
// $layout-sm-breakpoint: 720px
// $layout-xs-breakpoint: 576px

.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black
}