.footerMail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mail {
  font-weight: 300;
  font-size: 72px;
  line-height: 85px;
  text-transform: uppercase;
  color: #F6F6F6;
}