.elevatorWrap {
  display: flex;
  flex-direction: column;
}

.elevator {
  
  &:not(:last-child) {
    margin-bottom: 272px;
  }

  &:last-child {
    margin-bottom: 211px;
  }
  
  @media screen and (max-width: 1440px) {
    width: 368px;

    &:not(:last-child) {
      margin-bottom: 184px;
    }

    &:last-child {
      margin-bottom: 158px;
    }
  }

  @media screen and (max-width: 1024px) {

    &:not(:last-child) {
      margin-bottom: 120px;
    }

    &:last-child {
      margin-bottom: 143px;
    }
  }

  @media screen and (max-width: 768px) {}

  @media screen and (max-width: 375px) {}
}