
.characteristics {
  padding: 225px 0 450px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 1440px) {
    padding: 156px 0 312px;
  }
  
  @media screen and (max-width: 1024px) {
    padding: 56px 0 112px;
  }

  @media screen and (max-width: 768px) {
    padding: 40px 0 80px;
  }

  @media screen and (max-width: 375px) {}
}

.characteristicsText {
  display: flex;
  flex-direction: column;
  max-width: 627px;
  text-align: right;
}


.characteristicsDescription {
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 72px;

  @media screen and (max-width: 1440px) {}
  
  @media screen and (max-width: 1024px) {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 40px;
  }

  @media screen and (max-width: 768px) {}

  @media screen and (max-width: 375px) {
    padding-bottom: 32px;
  }
}

.specifications {
  display: flex;
  justify-content: space-evenly;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.loadedCircle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: rotate(-90deg);

  circle {
    transition: 0.9s;
  }
}

.circle {
  width: 172px;
  height: 172px;
  position: relative;
  border-radius: 50%;
  border: 2px solid #D9D9D9;
}

.circleText {
  font-family: Mazzard;
  font-weight: 400;
  font-size: 48px;
  line-height: 57px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.characteristicsImageWrap {
  margin-right: 113px;

  @media screen and (max-width: 1440px) {
    margin-right: 72px;
  }
  
  @media screen and (max-width: 1024px) {}

  @media screen and (max-width: 768px) {}

  @media screen and (max-width: 375px) {}
}

.characteristicsImage {
  width: 100%;
}

/* 

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 375px) {}

*/