
.headerWrap {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(154, 154, 154, 0.7);
  backdrop-filter: blur(10px);
  z-index: 99;
  border-bottom: 1px solid #F6F6F6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoWrap {
  padding: 22px 32px 22px 16px;
  height: 100%;
  border-right: 1px solid #F6F6F6;
}

.logo {
  height: max-content;
}

.burgerWrap {
  border-left: 1px solid #F6F6F6;
}

.burger {
  padding: 24px 8px 24px 40px;
  height: 100%;

  &::before {
    content: '';
    display: block;
    width: 48px;
    height: 1px;
    background: #F6F6F6;
    margin-bottom: 16px;
  }

  &::after {
    content: '';
    display: block;
    width: 48px;
    height: 1px;
    background: #F6F6F6;
  }

  @media screen and (max-width: 768px) {
    padding: 24px 16px 24px 32px;
  }

}


// @media screen and (max-width: 1440px) {

// }

// @media screen and (max-width: 1024px) {

// }

// @media screen and (max-width: 768px) {

// }