.historySubtitleWrap {
  max-width: 500px;
  width: 100%;
  position: relative;

  @media screen and (max-width: 1440px) {
    max-width: 400px;
  }
  
  @media screen and (max-width: 1024px) {
    max-width: 300px;
  }

  @media screen and (max-width: 768px) {
    max-width: 500px;
  }

  @media screen and (max-width: 375px) {
    max-width: 343px;
  }
}

.historySubtitle {
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  max-width: 500px;
  width: 100%;
  position: static;
  bottom: 30vh;
  left: 2.2vw;

  @media screen and (max-width: 1440px) {
    font-size: 20px;
    line-height: 24px;
    max-width: 400px;
  }
  
  @media screen and (max-width: 1024px) {
    max-width: 300px;
  }

  @media screen and (max-width: 768px) {
    font-size: 16px;
    line-height: 19px;
    max-width: 500px;
  }

  @media screen and (max-width: 375px) {
    max-width: 343px;
  }
}