.imgDescription {
  max-width: 600px;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;

}

/* 

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 375px) {}

*/