.imgDescription {
  max-width: 600px;
  font-weight: 400;
  font-size: 2.1vw;
  line-height: 2.45vw;
  padding-left: 50px;

  @media screen and (max-width: 1440px) {
    padding-left: 32px;
    font-size: 2.24vw;
    line-height: 2.7vw;
  }
  
  @media screen and (max-width: 1024px) {
    font-size: 2.75vw;
    line-height: 3.25vw;
  }

  @media screen and (max-width: 768px) {}

  @media screen and (max-width: 375px) {}
}


/* 

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 375px) {}

*/