.portfolio {
  overflow: hidden;
  height: 300vh;
}

.portfolioDescription {
  font-size: 24px;
  line-height: 28px;
  padding-top: 164px;
  display: block;
  max-width: 535px;
  margin: 0 18.34vw 0 auto;

  @media screen and (max-width: 1440px) {

  }

  @media screen and (max-width: 1024px) {

  }

  @media screen and (max-width: 768px) {

  }

  @media screen and (max-width: 375px) {
  }
}

.portfolioImages {
  position: relative;
  width: 100%;
  height: 100%;
} 

.circleIcon {
  max-width: 1556px;
  max-height: 1556px;
  position: absolute;
  top: 40px;
  left: 10vw;
  width: 80vw;
  height: auto;
  z-index: -1;

  @media screen and (max-width: 1440px) {
    max-width: 1136px;
    max-height: 1136px;
    top: 70px;
  }
  
  @media screen and (max-width: 1024px) {
    max-width: 960px;
    max-height: 960px;
  }
  
  @media screen and (max-width: 768px) {
    max-width: 704px;
    max-height: 704px;
    top: 56px;
  }

  @media screen and (max-width: 375px) {
    display: none;
  }
}

.portfolioImage1 {
  position: absolute;
  top: 7vh;
  left: -17vw;
}

.portfolioImage2 {
  position: absolute;
  top: 28vh;
  left: 16vw;
}

.portfolioImage3 {
  position: absolute;
  top: 47vh;
  left: 39vw;
  z-index: -1;
}

.portfolioImage4 {
  position: absolute;
  top: 0vh;
  right: 0vw;
}

.portfolioImage5 {
  position: absolute;
  left: 3vw;
  top: 118vh;
}

.portfolioImage6 {
  position: absolute;
  left: 28vw;
  top: 130vh;
}

.portfolioImage7 {
  position: absolute;
  top: 105vh;
  right: 10vw;
}
